.container{
    display: flex;
    flex-direction: row;
}
.item1{
    background-color: cadetblue;
    width: 50px;
}
.item2{
    background-color:palevioletred;
    flex: 1;
}
.item3{
    background-color: cadetblue;
    width: 75px;
}