.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.item1{
    background-color: pink;
    margin-left: 0;
}
.item2{
    background-color: pink;
}
.item3{
    background-color: pink;
}
.item4{
    background-color: pink;
}