.container{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    flex-direction: row;
   
}
img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 6px;
    object-fit: cover;
}
p{
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 12px;
    font-family: Roboto, Arial;
    
}
.name{
    font-style: bold;
}
.sub{
    color: gray;
}
button{
    background-color: rgb(35, 106, 187);
    border: none;
    font-size: 10px;
    color: white;
    width: 45px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.info{
    width: 200px;
}