.tweet-box {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
     
}

.cat {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
}

.What {
    width: 250px;
    font-size: 18px;
    border: none;
    padding: 8px;
    border-radius: 8px;
}

.tweet {
    width: 70px;
    height: 30px;
    background-color:  rgb(29, 155, 240);
    color: white;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.15s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);}