.text{
    width: 200px;
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
}
.yes{
    
    display: inline;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
.no{
    
    display: inline;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
