.profile {
    width: 200px;
    display: inline-block; /* Faz os elementos ficarem lado a lado */
    margin-right: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    vertical-align: top; /* Garante alinhamento adequado */
}
    

    

.cat{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;
    
    
}
.name{
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    padding-left: 8px;
    margin-bottom: 4px;

}
.friends{
    color: gray;
    font-size: 10px;
    padding-left:8px;
    font-family: arial;
    margin-bottom: 12px;
    

}
.add{
    background-color: rgb(29, 161, 242);
    color: white;
    margin-left: 4px;
    margin-bottom: 5px;
    font-family: arial;
    font-size: 16px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;

    
}